<div class="row">
  <div id="top-rated" class="span4">
    <ul>
      <li>Kafanica Bezec</li>
      <li>Pivnica Gusan</li>
      <li>Atrijum</li>
      <li>GOvnarijum</li>
    </ul>
  </div>
  <div class="span8">
  <%= gmaps("map_options" => { "detect_location" => false, "center_on_user" => false, "zoom" => 4},"markers" => { "data" => @caffes_json }) %>
  </div>
</div>


<script type="text/javascript">
  $(".direction_to").click(function() {
     
        var lat_to = $(this).find(".lat_to").text();
        var lng_to = $(this).find(".lng_to").text();
        var lat_from = $("#lat_from").val();
        var lng_from = $("#lng_from").val();
        Gmaps.map.initialize();
        Gmaps.map.direction_conf.origin = new google.maps.LatLng(lat_from, lng_from);
        Gmaps.map.direction_conf.destination =  new google.maps.LatLng(lat_to, lng_to);
        Gmaps.map.direction_conf.travelMode = "WALKING";
        //Gmaps.map.direction_conf.language = 'sr';
        Gmaps.map.create_direction(); 
        

  });
</script>

