// Place all the styles related to the caffes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#top-rated{

}

#top-rated ul{
	list-style-type:none;
}
#top-rated li{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid;
	font-size: 14x;
	padding:3px;
	padding-left:10px;
	margin-bottom: 5px;
	border-color: rgba(82, 168, 236, 0.8);
	background-color: white;
	cursor: pointer;
}

.hidden{
	display: none;
}

